*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#start-text{
    font-size: 26px;
    text-align: center;
    padding: 20px;
}

.container{
    margin: 0 auto;
    max-width: 450px;
    height: 100vh;
    max-height: 745px;
    color: aliceblue;
    background-image: url(img/fondoApp.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
}

.test1{
    position: relative;
    /* display: flex; */
   /*  align-items: center;
    justify-content: space-around; */
}

.test1 div{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: calc(50% + 100px);
    transform: translate(-50%, -50%);
}

.titleApp{
    font-family: fantasy;
    text-align: center;
    font-size: 30px;
    color: aliceblue;
}

#group-btn{
    display: flex;
    width: 100%;

    /* display: grid;
    grid-template-columns: repeat(5,1fr); */
    
}

#group-btn > button > img{
    width: 100%;
}

h1{
    text-align: center;
    font-size: 35px;
    padding: 20px;
}

#result{
    text-align: center;

}

#result img{
    width: 35%;
}

footer{
    text-align: center;
    padding: 10px;
}

footer a{
    color: black;
    text-decoration: none;
}
